<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>abyss paste - {{if .data}}{{.data.name}}{{end}}</title>
    <link rel="stylesheet" type="text/css" href="/static/fileDisplay.css" />
  </head>

  <body>
    <header>
      <nav class="nav-home">
        <a href="/">Home</a>
      </nav>
      <div class="path">
        {{if .data}}{{.data.path}}{{else}}Loading...{{end}}
      </div>
      <div></div>
    </header>
    <div class="content">
      {{if .data}} {{if eq .data.extension "text"}}
      <pre>{{.data.Content}}</pre>
      {{else if eq .data.extension "image"}}
      <img src="{{.data.path}}" alt="Image: {{.data.name}}" />
      {{else if eq .data.extension "pdf"}}
      <embed src="{{.data.path}}" type="application/pdf" class="pdf-embed" />
      {{else if eq .data.extension "video"}}
      <video controls>
        <source src="{{.data.path}}" />
        Your browser does not support the video tag.
      </video>
      {{else if eq .data.extension "audio"}}
      <audio controls src="{{.data.path}}"></audio>
      {{else}}
      <p>
        File type '{{.data.extension}}' cannot be displayed directly. Visit
        <a href="{{.data.path}}">this link</a> to see/download your file
        '{{.data.Name}}'.
      </p>
      {{end}} {{else}}
      <p>Error: File data not available.</p>
      {{end}}
    </div>
    <footer>{{if .data}}file uploaded on {{.data.TimeUploaded}}{{end}}</footer>
  </body>
</html>
